.card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.form-label {
    display: flex;
    align-items: center;
  }
  
  .form-label svg {
    margin-right: 5px;
  }
  
  .custom-select {
    background-position: right .75rem center;
    background-repeat: no-repeat;
    background-size: 1rem .5rem;
    padding-right: 2.25rem;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='14' height='12' viewBox='0 0 140 120'><path fill='%23000' d='M70 120L0 0h140z'/></svg>");
  }

  
  
  